.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 8rem;

  &__copyright {
    text-align: center;
    color: $color-grey-light-2;
    font-size: 1.4rem;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    justify-items: center;
    align-items: center;

    a:link,
    a:visited {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1.4rem;
      font-family: $font-display;
      color: #fff;
      display: block;
      transition: all 0.2s;
    }

    a:hover,
    a:active {
      background-color: rgba(#fff, 0.05);
      transform: translateY(-3px);
    }
  }
}
