.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @media only screen and(max-width: $bp-large) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-btn {
    background: none;
    border: none;
    border-radius: none;
    display: block;
    margin-right: 3rem;
    ion-icon {
      color: #fff;
      font-size: 4rem;
    }
  }
}
